@use "./Assets/Scss/elements";
@use "./Assets/Scss/Variables/colors";

@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Antonio;
  src: url(/Assets/Typography/Antonio-VariableFont_wght.ttf);
  font-weight: 400;
}

body {
  background: colors.$clr-bw-50;
}

.dark-mode-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(/Assets/Media/Moon.png);
  background-size: contain;
  width: 50px;
  aspect-ratio: 1;
  border: none;
}

.navbar {
  display: flex;
}