@use "./Assets/Scss/elements";
@use "./Assets/Scss/Variables/colors";

@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Antonio;
  src: url(/Assets/Typography/Antonio-VariableFont_wght.ttf);
  font-weight: 400;
}

body {
  background: colors.$clr-bw-50;
}

.navbar {
  display: flex;
  overflow-x: hidden;
}

.logo-icon {
  width: 66px;
}

.secondary-navbar {
  display: block;
}

a {
  text-decoration: none;
  color: colors.$clr-neutral-600;
}

.dark-mode-btn {
  background-image: url(/Assets/Media/Moon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2em;
  aspect-ratio: 1;
}

.marquee-box {
  display: block;
  position: relative;
  max-width: 100%;
}

.marquee {
  display: flex;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;;
}

h1 {
  animation: marquee 5s linear infinite;
  padding-left: 100%;
  padding-right: 15%; //distanza tra i due testi
}

.marquee2 h1 {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.paolo {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
  width: 100px;
  height: 100px;
}