@use "./Assets/Scss/elements";
@use "./Assets/Scss/Variables/colors";

@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(/Assets/Typography/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Antonio;
  src: url(/Assets/Typography/Antonio-VariableFont_wght.ttf);
  font-weight: 400;
}

body {
  background: var(--bg);
}

#dark-mode {
  width: 240px;
  height: 100px;
  background: black;
  margin-top: 50px;
  margin-left: 50px;
  border-radius:50px;
  display: grid;
  position: relative;
  place-items: center;
}

.moon {
  position: absolute;
  right: 10px;
  height: 80px;
  aspect-ratio: 1/1;
  background: shite;
  border-radius: 50%;

}