@use "./Variables/text";
@use "./Variables/colors";

// Document setup
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16;
}

img{
  display: block;
  max-width: 100%;
}

// Main title - H1
$title: (
    font-family:'vessel',
    font-size: text.$txt-size-title,
    font-weight:700,
    color: var(--bg),
    text-transform: uppercase,
    writing-mode: vertical-rl,
    text-orientation: upright,
);

.title {
  @each $property, $value in $title {
    #{$property}: $value;
  }
}