@use "./Variables/text";
@use "./Variables/colors";

// Document setup
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
}

// Main title - H1
$navbar: (
  display: flex,
  align-items:center,
  font-family: "Poppins",
  font-size: text.$txt-size-nav-li,
  font-weight: 400,
  text-transform: uppercase,
  list-style: none,
  gap: text.$txt-gap-nav-li,
);

.navbar {
  @each $property, $value in $navbar {
    #{$property}: $value;
  }
}

img {
  display: block;
  max-width: 100%;
}