:root {
  --bg: #A3BF8F;
  --secondary: #D8B3A2;
  --btn-bg: #D9BDAD;
  --light: #F5FFFA;
  --p-color: #333333;
  --title-color: #113924;
}

.dark-theme {
  --bg: #113924;
  --secondary: #97644C;
  --btn-bg: #D9BDAD;
  --light: #111111;
  --p-color: #f7f7f7;
  --title-color: #A3BF8F;
}

