$clr-primary-200: lch(var(--l-200) var(--clr-primary));$clr-primary-400: lch(var(--l-400) var(--clr-primary));$clr-primary-600: lch(var(--l-600) var(--clr-primary));

$clr-secondary-200: lch(var(--l-200) var(--clr-secondary));
$clr-secondary-400: lch(var(--l-400) var(--clr-secondary));
$clr-secondary-600: lch(var(--l-600) var(--clr-secondary));

$clr-neutral-200: lch(var(--l-200) var(--clr-neutral));
$clr-neutral-400: lch(var(--l-400) var(--clr-neutral));
$clr-neutral-600: lch(var(--l-600) var(--clr-neutral));

:root {
  --clr-primary: 72 290;
  --clr-secondary:25 200;
  --clr-neutral: 0 0;

  --l-200: 46%;
  --l-400: 60%;
  --l-600: 75%;
}

.dark-theme {
  --l-200: 75%;
  --l-400: 60%;
  --l-600: 46%;
}
